@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite AU TAS", cursive;
}

::-webkit-scrollbar {
    width: 5px;
  
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.676);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
    transition: 2s;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff0000, black);

}


body {
    background: linear-gradient(120deg, white, #007ACC, white);
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;


    .sec {
        opacity: 0;
        transform: translateY(60px);
        transition: all 0.8s ease-out;
    }

    .sec.active {
        opacity: 1;
        transform: translateY(0);
    }


    header {
        background: black;
        position: sticky;
        top: 0;
        z-index: 10;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;

        .logo {
            height: 100px;
            width: 100px;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 20px;

            li {
                padding: 10px;
                border-radius: 10px;
                margin-right: 10px;
                position: relative;
                cursor: pointer;
                transition: color 0.4s ease;
                z-index: 1;

                a {
                    text-decoration: none;
                    font-weight: 800;
                    font-size: 20px;
                    color: white;
                }


            }

            li::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 0%;
                height: 3px;
                background: linear-gradient(90deg, #007ACC, white);
                border-radius: 5px;
                transition: width 0.4s ease;

            }


            li:hover::before {
                width: 100%;
            }


            li:hover {
                a {
                    background: linear-gradient(90deg, #007ACC, white);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                }
            }

        }
    }

    .hero {
        background: linear-gradient(to right, black, #0a1a2f, rgb(211, 57, 83));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;

        h1 {
            background: linear-gradient(to bottom, black, red);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .about-section {
        width: 100%;
        display: flex;
        flex-direction: column;

        .mission {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;

            .f {
                background-color: white;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 250px;
                padding: 5px;
                flex-wrap: wrap;

                h2 {
                    text-align: center;
                    margin-bottom: 30px;
                    background: linear-gradient(to bottom, black, #007ACC);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                p {
                    text-align: center;
                }
            }
        }

        h2 {
            text-align: center;
            margin-top: 30px;
            background: linear-gradient(to bottom, black, red);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .team {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin-top: 10px;
            flex-wrap: wrap;

            .team-member {
                background: white;
                padding: 20px;
                border-radius: 10px;
                text-align: center;
                width: 300px;

                img {
                    border-radius: 50%;
                }

                h3 {
                    margin-bottom: 5px;
                    color: #007ACC;
                }

                p {
                    font-size: 0.95em;
                    color: #555;
                }
            }
        }
    }

    .contact {
        background: #007ACC;
        color: white;
        padding: 30px 20px;
        text-align: center;
        margin-top: 50px;
    }

    footer {
        background: #0a1a2f;
        color: white;
        text-align: center;
        padding: 15px 0;
        margin-top: 30px;
    }
}