@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite AU TAS", cursive;
}

::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.676);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
    transition: 2s;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff0000, black);

}

body {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: linear-gradient(120deg, white, #007ACC, white);

    header {
        background: black;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        z-index: 10;
        width: 100%;
        top: 0;

        img {
            height: 100px;
            width: 100px;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 20px;

        }

        li {

            padding: 10px;
            border-radius: 10px;
            margin-right: 10px;
            position: relative;
            cursor: pointer;
            transition: color 0.4s ease;
            z-index: 1;

            a {
                text-decoration: none;
                color: white;
                font-weight: 800;
                font-size: 20px;
            }

            i {
                color: white;
                font-size: 28px;
                cursor: pointer;
                transition: 0.3s;
            }
        }

        li::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0%;
            height: 3px;
            background: linear-gradient(90deg, #007ACC, white);
            border-radius: 5px;
            transition: width 0.4s ease;

        }


        li:hover::before {
            width: 100%;
        }


        li:hover {
            a {
                background: linear-gradient(90deg, #007ACC, white);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                i {
                    background: linear-gradient(90deg, #007ACC, white);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        .l1 {
            display: inline-block;
        }

        .l2 {
            display: none;
            transition: 0.5s;
            overflow: hidden;
        }

        .l2::before {
            width: 0px;
            height: 0px;
            top: -10;
        }

        .l2:hover {
            background: linear-gradient(90deg, #007ACC, white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .profile-icon {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            padding-right: 10px;
            color: white;

        }
        .profile-icon:hover{
             background: linear-gradient(90deg, #007ACC, white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .sidebar {
        position: fixed;
        top: 0;
        right: -275px;
        width: 275px;
        height: 100vh;
        background: #111;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 100;


        #close {
            position: absolute;
            top: 15px;
            right: 20px;
            font-size: 24px;
            cursor: pointer;
            color: white;
            transition: 0.3s;
        }

        ul {
            list-style: none;

            li {
                padding: 15px 25px;
                border-bottom: 1px solid #333;
                cursor: pointer;
                transition: 0.5s;
                background: linear-gradient(to right, white, red);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                a {
                    text-decoration: none;
                }
            }

            li:hover {
                background: linear-gradient(to right, white, #007ACC);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
            }
        }

    }

    .sidebar.active {
        right: 0;
    }

    .sec {
        opacity: 0;
        transform: translateY(100px);
        transition: all 0.8s ease-out;
    }

    .sec.active {
        opacity: 1;
        transform: translateY(0);
    }



    h2 {
        background: linear-gradient(to top, black, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .order-container {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;

        .order-item {
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            width: 90%;


            img {
                width: 100px;
                height: 100px;
                border-radius: 10px;

            }

            p {
                font-size: 16px;
                margin: 5px 0;
            }

            .delivery {
                color: green;
                font-weight: bold;
            }

            .no-order {
                color: #999;
                font-size: 18px;
                margin-top: 20px;
            }
        }

    }

    #orderHistory {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;

        .history-item {
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            width: 90%;

            img {
                width: 100px;
                height: 100px;
                border-radius: 10px;

            }

            p {
                font-size: 16px;
                margin: 5px 0;
            }


            .no-order {
                color: black;
                font-size: 18px;
                margin-top: 20px;
            }
        }
    }
}


.total-price {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    color: #333;
}

@media(max-width:992px) {

    body {
        header nav ul {
            .l1 {
                display: none;
            }

            .l2 {
                display: inline-block;
            }
        }
    }
}